apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: snoop
  labels:
    app: backend
type: Opaque
stringData:
  JWT_SECRET: ${JWT_SECRET}
  TRACKING_SECRET_KEY: ${TRACKING_SECRET_KEY}
  MAPBOX_ACCESS_TOKEN: ${MAPBOX_ACCESS_TOKEN}
  WHATS_APP_API_URL: ${WHATS_APP_API_URL}
  WHATS_APP_API_TOKEN: ${WHATS_APP_API_TOKEN}
  SMTP_USER: ${SMTP_USER}
  SMTP_PASS: ${SMTP_PASS}
