apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: snoop
  labels:
    app: grafana
    tier: logging
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30500
