apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: snoop
  labels:
    app: mongodb
    tier: data
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
        tier: data
    spec:
      containers:
        - name: ferretdb
          image: ferretdb/ferretdb:latest
          ports:
            - containerPort: 27017
              name: mongo
          env:
            - name: FERRETDB_HANDLER
              value: sqlite
            - name: FERRETDB_SQLITE_URL
              value: file:/state/
          volumeMounts:
            - name: data
              mountPath: /state
          resources:
            requests:
              cpu: 1000m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 2Gi
          readinessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 10
            periodSeconds: 10
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi
