apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: snoop
  labels:
    app: backend
    tier: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30100
