apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: snoop
  labels:
    app: mongodb
    tier: data
spec:
  type: NodePort
  selector:
    app: mongodb
  ports:
    - name: mongo
      protocol: TCP
      port: 27017
      targetPort: 27017
      nodePort: 30200
